<html>
    <body>
        This chronic kidney disease dataset has many columns of data that a mean and standard deviation can be extracted. <br>
        Some examples include Age, Gender, BMI, AlcoholConsumption, PhysicalActivity, DietQuality, and SleepQuality. <br>
        Enter column name for which you would like the mean and standard deviation.
        <form action = "/analyze" method = "POST">
            <textarea style = "width:100%; height: 10em" name = "column_name"></textarea>
            <br>
            <input type = "submit" value = "Analyze">
        </form>
    </body>
</html>